html {
  height: 100%;
}

body {
  height: 100%;
}

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  height: 100%;
  width: 100%;
  display: inline;
  overflow: hidden;
  filter: brightness(50%);
}

.bg2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  height: 100%;
  width: 100%;
  display: inline;
  overflow: hidden;
}

.magic {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.pixel {
  position: absolute;
  top: 30%;
  left: 36%;
  transform: translate(-50%, -50%);
  height: 50%;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@keyframes fadeInOpacity {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

/* Beginning of ROTATION*/
@-webkit-keyframes rotating

/* Safari and Chrome */
  {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 20s linear infinite;
}

/*END OF ROTATION*/
.centered {
  font-size: 50px;
  font-family: 'Leckerli One', cursive;
  color: #ffc000;
  color: white;
  text-shadow: 2px 2px 4px yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
}

p {
  font-family: 'Oswald', sans-serif;
  position: absolute;
  color: white;
  text-shadow: 2px 2px 4px yellow;
  top: 80%;
  text-align: center;
  font-size: 20px;
}

footer {
  font-family: 'Oswald', sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: black;
  color: white;
  text-align: center;
  opacity: 0.5;
}
